.App {
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App > .container {
  margin-top: 4rem;
  height: 90vh;
  width: 70vw !important;
  padding: 5rem 2rem;
}

.App .stats {
  height: 3rem;
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 2px;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.App .score {
  float: left;
}

.App .correct {
  float: right;
}

.App .quiz-end {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App h3 {
  letter-spacing: 1px;
}

.App h5 {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 2rem;
  color: gray !important;
  font-weight: 400 !important;
}

.App > .meme-t {
  position: absolute !important;
  top: 0;
  margin: auto;
}

.App > .meme-l {
  position: absolute !important;
  left: 0;
  top: 0;
  height: 100vh;
  border-right: 1px solid #eee;
  cursor: pointer;
}

.App > .meme-r {
  position: absolute !important;
  right: 0;
  top: 0;
  height: 100vh;
  border-left: 1px solid #eee;
}

.ui.modal {
  height: 100vh !important;
  width: 100vw !important;
  font-family: serif;
}

.ui.modal .description {
  text-align: center;
  word-wrap: break-word;
}

.ui.modal .description h1 {
  font-size: 13rem;
  color: #db1a1a;
  font-family: serif !important;
}

.ui.modal .description h2 {
  font-size: 4.5rem;
  color: #db1a1a;
  font-family: serif !important;
}

.ui.modal .description #p-1 {
  margin: auto;
  font-size: 2rem;
  width: 70rem;
}

.ui.modal .description #p-2 {
  margin: auto;
  margin-top: 3rem;
  font-size: 2rem;
}

.ui.modal .description h3 {
  margin: 0;
  font-size: 4rem;
  color: #0d9b20;
  font-family: serif !important;
}
